body {
  background-color: #f8f6f3;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  color: #f07e4a;
  margin-bottom: 2rem;
  text-shadow: 2px 2px #ccc;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 20px solid #f07e4a;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px #ccc;
}

.center-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f07e4a;
}

.hour-hand {
  position: absolute;
  width: 6px;
  height: 60px;
  background-color: #000;
  transform-origin: bottom center;
  transform: rotate(90deg);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.minute-hand {
  position: absolute;
  width: 4px;
  height: 80px;
  background-color: #000;
  transform-origin: bottom center;
  transform: rotate(180deg);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.second-hand {
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: #000;
  transform-origin: bottom center;
  transform: rotate(270deg);
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.alarm-form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  color: #f07e4a;
  margin-bottom: 2rem;
  text-shadow: 2px 2px #ccc;
}

label {
  font-size: 1.2rem;
  color: #000;
  text-shadow: 1px 1px #ccc;
}

input[type="number"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  margin-right: 1rem;
  text-align: center;
}

button[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #f07e4a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #b7421e;
}

audio {
  display: none;
}
