body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-top: 30px;
  }
  
  form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form select {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  form select option:first-child {
    display: none;
  }
  
  form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #444;
  }

  #share-btn {
    position: relative;
    padding: 12px 35px;
    background: #FEC195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #FEC195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
  }
  
  #share-btn:hover {
    background: transparent;
    color: #FEC195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  #share-btn:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  #share-btn:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  #share-btn:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  #share-btn:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  #share-btn:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  #share-btn:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #FFFDEF
  }
  
  .card {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a1a1a1;
    position: relative; /* menambahkan posisi relatif */
  }
  
  .card:before { /* batas atas */
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 1px;
    background-color: #ccc;
    transform: translateX(-50%);
  }
  
  .card:after { /* batas bawah */
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60%;
    height: 1px;
    background-color: #ccc;
    transform: translateX(-50%);
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* menambahkan bayangan pada gambar */
  }
  
  .card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* menengahkan tulisan */
    position: relative;
    z-index: 1; /* menempatkan tulisan di atas garis atas */
  }
  
  .card:before,
  .card h2 {
    padding-top: 20px; /* jarak antara tulisan dengan garis atas */
  }
  
  .card p {
    color: #555;
    font-size: 16px;
    margin-top: 20px;
    position: relative;
    z-index: 1; /* menempatkan isi pada atas garis bawah */
  }
  